*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, .formContainer, .imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: pink;
}

label, input{
    margin-bottom: 5px;
    font-size: 30px;
}

.myButton{
    width: 200px;
    height: 50px;
    font-size: 40px;
    background-color: lightblue;
    color: blue;
    border-radius: 5px;
}
.myButton:hover{
    background-color: lightgreen;
}
.myButton:active{
    color: red;
}
img{
    max-width: 490px;
    max-height: 490px;
}

.imgContainer{
    border: 5px solid white;
    width: 500px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
